<div class="parent">
  <div class="child">
    <div class="imgDiv">
      <h2>Add category</h2>
    </div>

    <form [formGroup]="categoryForm" (ngSubmit)="submitForm()" >
      <div class="row">
        <div class="profile-badge">
          <img [src]="getImageUrl()" alt="profile" *ngIf="categoryForm.get('categoryImage').value" class="profile-image">
          <input type="file" class="button" id="upload_profile_image" accept="image/png, image/gif, image/jpeg" (change)="previewImage($event)">
        </div>

        <div class="col" style="margin-top: 20px;">
          <div class="form-item">
            <div class="form-control">
              <mat-form-field appearance="fill">
                <input matInput type="text" placeholder="Name" formControlName="name">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col" span="24">
          <div class="form-item">
            <div class="form-control">
              <mat-form-field appearance="fill">
                <textarea matInput type="text" placeholder="Description" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <button mat-raised-button color="accent" type="submit">Add</button>
    </form>

  </div>
</div>
