.child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 700px;
  height: 700px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px gray;
}

.parent{
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.form-control mat-form-field {
  width: 500px;
}

.form-control textarea.mat-input-element,
.form-control input.mat-input-element {
  width: 100%;
}

.profile-badge{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image{
  max-width: 250px;
  max-height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control{
  background-color: whitesmoke;
  border: none;
}

.form-item{
  width: 100%;
}

.row{
  justify-content: center;
}
