<div class="parent">
  <div class="child">
    <div class="imgDiv">
      <h2 style="margin-left: 200px;">Add category</h2>
    </div>

    <form>
      <div class="row">
        <div class="col" md="24" sm="24" xs="24">
          <div class="profile-badge">
            <label for="upload_profile_image" class="upload-label">
              <img class="profile" alt="profile">
            </label>
            <input type="file" class="button" type="primary" id="upload_profile_image" accept="image/png, image/gif, image/jpeg">
            <button class="button" shape="circle"></button>
          </div>
        </div>

        <div class="col" span="24" style="margin-top: 20px;">
          <div class="form-item">
            <div class="form-control" hasFeedback xs="24" errorTip="This input is required.">
              <input type="text" class="input" placeholder="Name" />
            </div>
          </div>
        </div>

        <div class="col" span="24">
          <div class="form-item">
            <div class="form-control" hasFeedback xs="24" errorTip="This input is required.">
              <textarea rows="1" class="input" placeholder="Description"></textarea>
            </div>
          </div>
        </div>
      </div>

      <button class="button login-form-button login-form-margin" type="button">Add</button>
    </form>

  </div>
</div>
